body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #3824d2;
    margin: 0;
    padding: 50px;
    color: black;
}
h1 {color: #c72b23;
    font-family: 'Times New Roman', Times, serif;
}
p{color: #834f3e;
    font-family: 'Courier New', Courier, monospace;
    padding: 50px;
}
.box {
    width: 300px;
    height: 20px;
    padding: 20px;
    margin: 40px auto;
    border: 3px solid black;
    background-color: green;
    font-size: 18px;
}

